<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="alert alert-warning" *ngIf='isLoginFailed'>{{errorMessage}}</div>
    <div class="alert alert-success" *ngIf='isLoggedIn'>{{successMessage}}</div>
    <!-- Tabs Titles -->
    <h3>Login</h3>
    <!-- Login Form -->
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <input type="text" id="username" class="fadeIn second" [(ngModel)]="form.username" name="username" placeholder="username">
      <input type="password" id="password" class="fadeIn third"  [(ngModel)]="form.password" name="password" placeholder="password">
      <input type="submit" (click)=onSubmit() class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>