
 <!-- HEADER MOBILE-->
 <header *ngIf="isLoggedIn" class="header-mobile d-block d-lg-none">
  <div class="header-mobile__bar">
      <div class="container-fluid">
          <div class="header-mobile-inner">
              <a class="logo" href="#">
                  <img src="assets\Logo_Mezzo.png" alt="CoolAdmin" />
              </a>
              <button class="hamburger hamburger--slider" type="button">
                  <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                  </span>
              </button>
          </div>
      </div>
  </div>
  <nav class="navbar-mobile">
      <div class="container-fluid">
          <ul class="navbar-mobile__list list-unstyled">
              <li class="has-sub">
                  <a class="js-arrow" href="#">
                      <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                  <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                      <li>
                          <a href="#">Dashboard 1</a>
                      </li>
                      <li>
                          <a href="#">Dashboard 2</a>
                      </li>
                      <li>
                          <a href="#">Dashboard 3</a>
                      </li>
                      <li>
                          <a href="#">Dashboard 4</a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a href="#">
                      <i class="fas fa-chart-bar"></i>Charts</a>
              </li>
              <li>
                  <a href="#">
                      <i class="fas fa-table"></i>Tables</a>
              </li>
              <li>
                  <a href="#">
                      <i class="far fa-check-square"></i>Forms</a>
              </li>
              <li>
                  <a href="#">
                      <i class="fas fa-calendar-alt"></i>Calendar</a>
              </li>
              <li>
                  <a href="#">
                      <i class="fas fa-map-marker-alt"></i>Maps</a>
              </li>
              <li class="has-sub">
                  <a class="js-arrow" href="#">
                      <i class="fas fa-copy"></i>Pages</a>
                  <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                      <li>
                          <a href="#">Login</a>
                      </li>
                      <li>
                          <a href="#">Register</a>
                      </li>
                      <li>
                          <a href="#">Forget Password</a>
                      </li>
                  </ul>
              </li>
              <li class="has-sub">
                  <a class="js-arrow" href="#">
                      <i class="fas fa-desktop"></i>UI Elements</a>
                  <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                      <li>
                          <a href="#">Button</a>
                      </li>
                      <li>
                          <a href="#">Badges</a>
                      </li>
                      <li>
                          <a href="#">Tabs</a>
                      </li>
                      <li>
                          <a href="#">Cards</a>
                      </li>
                      <li>
                          <a href="#">Alerts</a>
                      </li>
                      <li>
                          <a href="#">Progress Bars</a>
                      </li>
                      <li>
                          <a href="#">Modals</a>
                      </li>
                      <li>
                          <a href="#">Switchs</a>
                      </li>
                      <li>
                          <a href="#">Grids</a>
                      </li>
                      <li>
                          <a href="#">Fontawesome Icon</a>
                      </li>
                      <li>
                          <a href="#">Typography</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </nav>
</header>
<!-- END HEADER MOBILE-->
<!-- MENU SIDEBAR-->
<aside *ngIf="isLoggedIn" class="menu-sidebar d-none d-lg-block">
  <div class="logo">
      <a href="#">
          <img src="assets\Logo_Mezzo.png" alt="Cool Admin" />
      </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
      <nav class="navbar-sidebar">
          <ul class="list-unstyled navbar__list">
                <li  *ngIf="showAdminBoard">
                    <a href="/admin"  routerLink="admin">
                    <i class="fas fa-tachometer-alt"></i>Admin Board</a>
                </li>
                <li  *ngIf="showModeratorBoard">
                    <a href="/mod"  routerLink="mod">Moderator Board</a>
                  </li>
              <li>
                <a href="/employees"  *ngIf="isLoggedIn " routerLink="employees">
                    <i class="fa-solid fa-user"></i>Users</a>
              </li>
              <li  *ngIf="showAdminBoard">
                <a href="/gerer-candidature"   routerLink="gerer-candidature">
                    <i class="fas fa-table"></i>Candidatures</a>
              </li>
         
              <li  *ngIf="showAdminBoard">
                <a href="/gerer-reclamation"   routerLink="gerer-reclamation">
                    <i class="fa-solid fa-message"></i>Reclamations</a>
              </li>
              <li  *ngIf="isLoggedIn ">
                <a href="/gerer-actualite"   routerLink="gerer-actualite">
                    <i class="fa-solid fa-newspaper"></i>Actualités</a>
              </li>
              <li  *ngIf="isLoggedIn" >
                <a href="/gerer-evenement"   routerLink="gerer-evenement">
                    <i class="fa-solid fa-calendar-days"></i>Evenements</a>
              </li>
            
              <li  *ngIf="isLoggedIn ">
                <a href="/chat"   routerLink="chat">
                    <i class="fa-brands fa-rocketchat"></i>Chat</a>
              </li>
              
             
          </ul>
      </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->