.inf-content{
    border:1px solid #DDDDDD;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    background-color:  #f5f6fa;
    padding-top: 4%;
    padding-bottom: 2%;
}	
.w-60 {
    width: 60px;
  }
  
  .m-b-30 {
  margin-bottom: 30px;
  }		                                                      