

  <div class="container" id="main-container">
  <div class="row">
   <form  *ngIf="router.url === '/gerer-candidature'" class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchCandidatures(key2.value)" #key2="ngModel" ngModel
       name="key2" id="searchName2" class="form-control mr-sm-2" placeholder="Search candidatures..." required>
   </form>
    <div *ngFor="let candidature of candidatures" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="col-6 card-title align-self-center mb-0">
                <h5>{{candidature?.nom}}</h5>
               
             </div>
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{candidature?.email}}</li>
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{candidature?.telephone}}</li>
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{candidature?.fichier}}</li>
          </ul>
          <div   class="card-body">
             <div class="float-right btn-group btn-group-sm">
               <!-- <a   (click)="onOpenModal(candidature, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>-->
                <a   (click)="onOpenModal(candidature, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>
       </div>
    </div>
  </div>
  
 
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteCandidatureModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Candidature</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete candidature {{deleteCandidature?.nom}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteCandidature(deleteCandidature?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>
  
  <!-- Notification for no employees -->
  <div *ngIf="candidatures?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO Candidatures!</h4>
    <p>No Candidatures were found.</p>
  </div>
  </div>
  